<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    {{!--
    <link rel="stylesheet" href="style.css"> --}}
    <style>
        body {
            background-color: rgba(0, 0, 0, 0.886);
            width: 1250px;
        }

        #menu {
            display: flex;
            flex-direction: row;
        }

        #name {
            border: 4px solid rgb(0, 132, 255);
            border-radius: 100%;
            margin-left: 20px;
            height: fit-content;
            width: fit-content;
            padding: 1.4% 1.4%;
            color: rgb(255, 255, 255);
            font-size: x-large;
            font-weight: bolder;
            font-style: italic;
            background-image: linear-gradient(120deg, rgba(0, 21, 143, 0.425), rgba(71, 60, 194, 0.78));
            animation: rotation 2s;
        }

        @keyframes rotation {
            from {
                transform: rotate(0deg);
                /* min-height: fit-content; */
            }

            to {
                transform: rotate(359deg);
                /* max-height: max-content; */
            }
        }

        #nav {
            display: flex;
            flex-direction: row;
            border: 0px solid black;
        }

        #nav ul {
            overflow: auto;
        }

        #nav li {
            float: left;
            list-style: none;
            margin: 15px 95px;
        }

        #nav li a {
            font-size: 20.5px;
            font-weight: bolder;
            font-style: inherit;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-decoration: none;
            color: rgb(158, 0, 132);
        }

        #nav li a #x {
            padding: 3px 3px;
            font-size: 19px;
            font-weight: bolder;
            font-style: inherit;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            text-decoration: none;
            color: rgb(255, 255, 255);
        }

        #content2 {
            display: flex;
            flex-direction: row;
            border: 0px solid black;
        }

        img {
            height: 100%;
            width: 85%;
        }

        #image {
            height: 25%;
            width: 55%;
            border: 0px solid red;
            border-radius: 3%;
            padding: 3% 5%;
        }
         h2
        {
            color: lavender;
            font-style: inherit;
        }
        #form {
            border: 2px solid white;
            float: left;
            padding: 3% 4%;
            border-radius: 25px;
            /* background-image: linear-gradient(120deg,rgb(252, 250, 250), rgb(255, 253, 253), rgb(252, 252, 251)); */
            height: fit-content;
            background: none;
            margin-top: 2%;
            box-shadow: 4px 4px rgb(248, 247, 246);
        }

        input {
            border: none;
            border-bottom: 1px solid rgb(245, 226, 226);
            padding: 5% 10%;
            background: none;
            margin: 6px auto;
        }
    h1
        {
            color: aqua;
            font-size: 45px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: bolder;
            font-style: inherit;
        }
        #btn {
            border: 3px solid rgb(220, 226, 226);
            border-radius: 10px;
            margin-top: 5px;
            padding: 4px 5px;
            font-size: large;
            font-family: initial;
            font-weight: bold;
            background-color: rgba(3, 187, 194, 0.966);
            /* align-items: center; */
        }

        #content3 {
            display: flex;
            flex-direction: row;
            border: 0px solid rgba(0, 0, 0, 0.888);
            height: 40px;
            padding-left: 40%;
        }

        .anchor {
            width: 35px;
            height: 35px;
            padding-left: 30px;
            padding-right: 20px;
        }

        #btn:hover {
            background-color: blue;
        }
    </style>

</head>

<body>
    <hr>
    <div id="menu">
        <div id="name"> <b>Prabhat</b> <br><b> Mishra</b></div>
        <div id="nav">
            <ul>
                <li id="x"><a href="/home">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/service">Services</a></li>
                <li><a href="/contact">Contact-Us</a></li>
            </ul>
        </div>
    </div>
    <hr>
<center><h1>This is Home</h1></center>
<h2>There are many important components of effective web design, like white space, font selection, color schemes, and layout, but the core of a website is its content, not its design. Within a matter of seconds, your homepage needs to introduce your product or service and entice visitors to explore your site further.</h2>
<center><img src="https://cdn.searchenginejournal.com/wp-content/uploads/2019/10/ontrack-home-page-5dbad77d77c54.jpg"/></center>
</body>
</html>